* {
    font-family: 'cursive', 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
h1{
    color: blue;
}
body {
    background-color: #fff;
    background-image: url(fundo\ pokemon.png);
    background-position: center;
    background-size: cover;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ef989800;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}